.App {
  box-sizing: border-box;
  width: 600px;
  margin: 50px auto;
  padding: 50px;
  text-align: left;
  border: 10px solid #ff000025;
  border-radius: 20px;
}

ul {
  list-style: none;
}

ul > li:hover {
  background-color: #ff000025;
}
