.App {
  box-sizing: border-box;
  width: 600px;
  margin: 50px auto;
  padding: 50px;
  text-align: left;
  border: 5px solid #ffe100a8;
  border-radius: 20px;
}

ul {
  padding: 0px;
  list-style: none;
}

/* ul > li:hover {
  background-color: rgba(107, 225, 107, 0.37);
} */
