/* Form kapsayıcı stil */
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.input {
  width: 250px;
  margin-top: 15px;
  padding: 12px 15px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  outline: none;
}

.input:focus {
  border-color: black;
  box-shadow: 0 0 8px rgb(0, 213, 255);
}

.btn-submit {
  background-color: rgb(255, 255, 255);
  color: black;
  border: none;
  margin-top: 15px;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s;
}

.btn-submit:hover {
  transform: scale(1.05);
}

.btn-submit:active {
  transform: scale(0.95);
}
