.App {
  text-align: center;
  background-image: url("C:\Users\User\Desktop\React-Practise\weatherApp\src\assets\background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 666px;
  min-width: 1500px;
}
